body {
  margin: 0;  
  background-color: hsl(240, 80%, 12%);
}
button {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 30px;
  padding: 0 1em;
  border-radius: 1em;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.5);
  background-color: #c00;
  color: white;
  border: 0;
  position: fixed;
}
button:active {
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.5);
}

.shake {
  top: 30px;
  right: 30px;
}
.shake:active {
  top: 35px;
}

.music {
  bottom: 30px;
  right: 30px;
}
.music:active {
  bottom: 25px;
}