body {
  margin: 0;
}
button {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 30px;
  padding: 0 1em;
  border-radius: 1em;
  background-color: #c00;
  color: white;
  border: 0;
  position: fixed;
  bottom: 1em;
  left: 1em;
}
